.edit-profile__form {
  label {
    font-size: 1em;
    margin-bottom: 1em;
    display: block;
    padding-left: 0.5em;
  }
}
.edit-profile__password {
  margin-top: 3em;
  margin-bottom: 1em;
  text-align: center;
  a {
    text-decoration: underline;
  }
}
